*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(209, 125, 153);
    width: 100%;
    text-align: center;
    height: 80px;
}
.nav{
    background-color: skyblue;
    width: 100%;
    text-align: center;
    height: 80px;
}
.middle{
    overflow: hidden;
}
.left{
    width: 60%;
    background-color: tan;
    height: 400px;
    float: left;
    text-align: center;
    overflow: hidden;
}
.heading{
    background-color: rgb(245, 117, 117);
    width: 100%;
    height: 20%;
}
.article{
    background-color: rgb(174, 168, 214);
    height: 80%;
    width: 100%;
}
.right{
    width: 40%;
    height:400px;
    background-color: rgb(192, 199, 204);
    float: right;
    text-align: center;
}
.footer{
    background-color:burlywood ;
    text-align: center;
    height: 100px;
}