*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: darkgreen;
    height: 100px;
    text-align: center;
    color: white;
}
.nav{
    width: 30%;
    height: 400px;
    background-color: teal;
    float: left;
    text-align: center;
}
.article{
    width: 50%;
    height: 400px;
    background-color: olivedrab;
    float:left ;
    text-align: center;
}
.ads{
    width: 20%;
    height: 400px;
    background-color: seagreen;
    float: right;
    text-align: center; 
}
.footer{
    background-color: rgb(52, 114, 83);
    text-align: center;
    height: 100px;
}
.content{
    overflow: hidden;
}